<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Document-Comparison-Service</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ie.gmit.sw.UploadHandler</servlet-name>
    <servlet-class>ie.gmit.sw.UploadHandler</servlet-class>
    <init-param>
      <param-name>workers</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>logFile</param-name>
      <param-value>/Users/andry/Desktop/server.log</param-value>
    </init-param>
    <init-param>
      <param-name>dbFile</param-name>
      <param-value>/Users/andry/Desktop/documets.db</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Top secret</param-value>
    </init-param>
    <init-param>
    	<!-- Depends on the type of documents compared -->
      <param-name>shingleSize</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>HashFunctionCount</param-name>
      <param-value>303</param-value>
    </init-param>
    <init-param>
      <param-name>logging</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>refreshRate</param-name>
      <param-value>10</param-value>
    </init-param>
  </servlet>
</web-app>